.card {
  margin-bottom: 1rem;
  border-radius: 5%;
  box-shadow: 3px 3px 5px 6px rgb(151, 150, 150);
}
.card-img-top {
  height: 5vh;
  width: 3vw;
  border-radius: 10%;
  display: flex;
  justify-content: flex-start;
}
.card-top {
  display: flex;
  flex-direction: row;
}
.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
